<% unless comment.archived? %>
  <div class="card mb-3">
    <div class="card-body">
      <p class="mb-2">
        <strong>By:</strong> <%= comment.commenter %>
      </p>
      <p class="mb-3">
        <strong>Comment:</strong> <%= comment.body %>
      </p>
      <%= link_to "Destroy Comment", [comment.article, comment], class: "btn btn-danger", data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
    </div>
  </div>
<% end %>
